.slide-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
  padding: 0 3%;
}

.swiper-pagination-bullet {
  border: 2px solid #faa500 !important;
  width: 1rem !important;
  height: 1rem !important;
  background: transparent !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #faa500 !important;
}

.banner-wrapper {
  position: relative;
}

.banner-title {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-title {
  margin-left: 10%;
}

.bannerH1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}

.bannerH3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  width: 460px;
}

.banner-title button {
  padding: 1rem 2rem;
  color: #fff;
  background-color: #faa500;
  border: none;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .bannerH1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 37px;
  }
  .bannerH3 {
    font-size: 14px;
    line-height: 17px;
  }
  .bannerH3,
  .bannerH1 {
    padding-left: 70px;
    width: 230px;
  }

  .banner-title {
    margin-left: 15%;
    padding-bottom: 50px;
  }

  .banner-title button {
    width: 76px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 23%;
    right: 77%;
  }
}
