.footer {
  width: 100%;
  position: relative;
  z-index: 20;
}
ul {
  list-style-type: none;
  font-size: 12px;
  padding: 0;
}
li {
  margin-bottom: 25px;
}

.footer-container {
  width: 90%;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 20%;
}

.footer-right {
  width: 20%;
}

.footer-contact,
.footer-social {
  font-size: 16px;
  padding: 20px;
}

.footer-contact h2,
.footer-social h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-copyright {
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}

.footer-center {
  width: 20%;
  font-size: 12px;
}

.footer-navigation {
  padding: 20px;
}

.footer-navigation h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.social-img,
.cards-brands {
  color: #fff;
  width: 36px;
  height: 2rem;
}

.cards {
  width: 20%;
  display: flex;
  justify-content: center;
}

.cards-brands {
  padding: 0 0.5rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-bottom-intern {
  height: 85px;
  padding: 0 3%;
  display: flex;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
}

.footer-bottom {
  background-color: #353535;
  width: 100%;
}

.vtex-maeztra {
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.maeztra {
  margin-left: 20px;
}

.buttonFutterOptions{
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgFooterOptions {
  display: none;
  width: 15px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .imgFooterOptions {
    display: flex;
    width: 15px;
    align-items: center;
    justify-content: center;
  }

  .footer-navigation, .footer-contact, .footer-social {
    padding: 0px;
  }
  .footer-container {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-center {
    width: 100%;
    margin-bottom: 0px;
  }
  .cards-brands {
    padding: 0;
  }

  .social {
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }

  .cards {
    width: 80%;
    justify-content: space-evenly;
  }
  .footer-bottom {
    margin-top: 40px;
  }

  .footer-bottom-intern {
    height: 233px;
    padding: 0 3%;
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

}
