.navbar {
  width: 100%;
}

.navbar-options {
  position: sticky;
  top: 0;
  z-index: 200;
  background: #fff;
  transition: all .2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.navbar-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 0;
}

.navbar-search {
  max-width: 790px;
  width: 100%;
}

.search {
  position: relative;
}

.navbar-search .search-input {
  height: 40px;
  padding: 0 24px;
  line-height: 40px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: #efefef;
  height: 40px;
  outline: none;
  box-shadow: none;
}

.search-button {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #faa500;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-out;
}

.navbar__button {
  margin-right: 1em;
}

@media (max-width: 600px) {
 .navbar__search {
    display: none;
 }
}