.navbar {
  width: 100%;
}

.navbar-options {
  position: sticky;
  top: 0;
  z-index: 200;
  background: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.navbar-options-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 5%;
}

.navbar-search {
  max-width: 790px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  width: 90%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.navbar-search .search-input,
.search-input-mob {
  height: 40px;
  padding: 0 0 0 24px;
  line-height: 40px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: #efefef;
  outline: none;
  box-shadow: none;
}

.search-button {
  width: 120px;
  height: 100%;
  position: absolute;
  right: 0;
  background: #faa500;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.navbar__button {
  margin-right: 1em;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  width: 134px;
  height: 46px;
  border-style: hidden;
  border-width: 1px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar__button:hover {
  border-style: solid;
  border-color: #faa500;
}

.navbar_icon {
  margin-right: 1ch;
}

.nav-btn {
  display: flex;
}
.sandwich-menu {
  display: none;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  border-radius: 8px;
}
.search-input-mob {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.searchButton {
  display: none;
  position: absolute;
  right: 40px;
  width: 32px;
  height: 32px;
  overflow: visible;
}

.searchIconButton {
  height: 100%;
}

.bagIconButton {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -20px;
}

.menubutton {
  width: 32px;
  height: 32px;
}

.nav-btn-desk {
  display: flex;
}

@media (max-width: 900px) {
  .search-button {
    width: 80px;
  }
  .sandwich-menu {
    display: none;
  }
  .nav-btn {
    display: flex;
  }
  .nav-btn-desk {
    display: none;
  }
}

@media (max-width: 800px) {
  .search-button {
    display: none;
  }

  .searchButton {
    display: block;
    background: transparent;
    border: none;
  }

  .search-input-mob {
    width: 50%;
    display: block;
    right: 0;
    position: relative;
    top: 160%;
    left: 25%;
  }

  .search-input-mob {
    opacity: 1;
    transform: translateY(0);
  }

  .buttonOptionArea {
    position: absolute;
    left: 20px;
  }

  .bagIconButton {
    display: block;
  }

  .navbar__logo {
    width: 110px;
    position: absolute;
    left: 80px;
  }

  .search-input,
  .search-button {
    display: none;
  }

  .nav-btn {
    background-color: white;
    position: absolute;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
  }

  .sandwich-menu {
    display: block;
  }
  .navbar__button {
    margin-right: 0;
  }
}
