.collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
  box-sizing: border-box;
  max-width: 1598px;
  margin: 80px auto;
}

h1 {
  font-family: 'Titillium Web' !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}

.collection-img {
  width: 100%;
}

img {
  border-radius: 5px;
}

.collection-banner {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.collection-description {
  padding-right: calc(6rem);
  text-align: left;
}

.collection-description h1 {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-family: 'Titillium Web';
  font-weight: 700;
  line-height: 36.5px;
  margin: 1rem 0px 16px;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.collection-description p {
  font-family: 'Titillium Web';
  -webkit-tap-highlight-color: transparent;
  line-height: 1.55;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  width: 420px;
  max-width: 26.25rem;
}

@media (max-width: 800px) {
  .collection {
    margin: 20px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .collection-description p {
    width: 270px !important;
    height: auto;
    text-align: left;
  }

  .collection-description h1 {
    width: 100%;
    text-align: left;
  }

  .collection-description {
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }
}
