.newsletter {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(239, 239, 239);
  line-height: 1.55;
  width: 100%;
  position: relative;
}

.newsletter-title {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-weight: 700;
  line-height: 1.3;
  margin: 1rem 0px 16px;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
}

.newsletter-input {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0 20px;
  max-width: 630px;
  height: 40px;
}

.newsletter-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-tap-highlight-color: transparent;
  line-height: calc(2.125rem);
  appearance: none;
  resize: none;
  box-sizing: border-box;
  font-size: 0.875rem;
  width: 100%;
  color: rgb(0, 0, 0);
  display: block;
  text-align: left;
  border-width: 0.0625rem 0px 0.0625rem 0.0625rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  border-image: initial;
  background-color: rgb(255, 255, 255);
  transition: border-color 100ms ease 0s;
  min-height: 2.25rem;
  padding-left: calc(0.75rem);
  padding-right: calc(0.75rem);
  border-radius: 0.25rem 0px 0px 0.25rem;
  border-right-style: initial;
  border-right-color: initial;
  height: 40px;
}

.newsletter-button {
  padding: 0px 1.125rem;
  appearance: none;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  border-radius: 0px 0.25rem 0.25rem 0px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  color: rgb(255, 255, 255);
  width: 131px;
  height: 40px;
  background-color: rgb(250, 165, 0);
  will-change: opacity;
  transition: opacity 400ms ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
}

@media (max-width: 800px) {
  .newsletter-title {
    text-align: left;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  .newsletter-button {
    border-radius: 0.25rem;
    width: 79px;
    height: 26px;
  }
  .newsletter-text {
    border: 0.0625rem solid;
    border-radius: 0.25rem;
    width: 204px;
    min-height: 26px;
    height: 26px;
  }
  .newsletter-input {
    width: 100%;
    justify-content: space-evenly;
  }
}
